#files to ignore

*.metadata/**
*.recommenders/**
*build/**
*.idea/**
*.iml

/nbproject/
*nbactions.xml

cmake-build-debug/*


# Server runtime state must never be committed
lexicon-auth.json
lexicon-auth.json.new
*.pem
*.key
*.crt
lexicon-web/config.js
